<header class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a routerLink="/" class="navbar">
            Angular Interview Lab
        </a>
        <nav class="navbar-nav">
            <a routerLink="/basic" routerLinkActive="active" class="nav-link"> Basic </a>
            <a routerLink="/intermediate" routerLinkActive="active" class="nav-link">Intermediate</a>
            <a routerLink="/advanced" routerLinkActive="active" class="nav-link"> Advanced </a>
            <a routerLink="/ngrx" routerLinkActive="active" class="nav-link"> NgRx </a>
        </nav>
    </div>
</header>
