.avtar {
    background-color: rgb(76, 251, 163);
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    height: 35px;
    width: 35px;
    margin: 10px;
    border-radius: 50%;
    border-style: groove;
}