<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h4>Advanced Section</h4>
        </div>
    </div>

    <div class="row">
        <aside class="col-md-3  col-lg-2">

             <div class="card border-0 shadow-sm">

        <div class="card-body">

          <h5 class="fw-bold mb-3">
            Advanced Topics
          </h5>

          <div class="list-group">

            <a
              routerLink="integration-lab"
              routerLinkActive="active"
              class="list-group-item list-group-item-action">

              🔗 Integration Lab

            </a>

            <a
              routerLink="rxjs"
              routerLinkActive="active"
              class="list-group-item list-group-item-action">

              🔄 RxJS

            </a>

            <a
              routerLink="signals"
              routerLinkActive="active"
              class="list-group-item list-group-item-action">

              ⚡ Signals

            </a>

            <a
              routerLink="change-detection"
              routerLinkActive="active"
              class="list-group-item list-group-item-action">

              🔍 Change Detection

            </a>

            <a
              routerLink="defer"
              routerLinkActive="active"
              class="list-group-item list-group-item-action">

              ⏳ defer

            </a>

            <a
              routerLink="dynamic-components"
              routerLinkActive="active"
              class="list-group-item list-group-item-action">

              🧩 Dynamic Components

            </a>

            <a
              routerLink="content-projection"
              routerLinkActive="active"
              class="list-group-item list-group-item-action">

              📦 Content Projection

            </a>

            <a
              routerLink="control-value-accessor"
              routerLinkActive="active"
              class="list-group-item list-group-item-action">

              ⭐ ControlValueAccessor

            </a>

            <a
              routerLink="performance"
              routerLinkActive="active"
              class="list-group-item list-group-item-action">

              🚀 Performance

            </a>

          </div>

        </div>

      </div>


        </aside>
    </div>
    <section class="col-md-9">
        <router-outlet></router-outlet>
    </section>
</div>